.jumbotron {
	background: url(books.jpg);
	overflow: hidden;
	height: 700px;
}

#map {
  height: 400px;
  width: 100%;
}

.map-location {
  cursor: pointer;
  color: #337ab7;
}

.map-location:hover {
  background-color: #f9f9f9;
}