
.jumbotron {
  background: url(desk.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  height: 700px;
}

.jumbotron .container{
  color: #ffffff;
  text-align: center;
}

.jumbotron h1 {
  padding: 50px 0px 50px 0px;
}

.cover_button {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: none;
    color: white;
    background-color: #004f73;
    margin: 20px;
    font-size: 20px;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.cover_button:hover {
  background-color: #ffffff; /* Green */
    color: #004f73;
}

.cover_button:focus {
    outline:none;
}

#map {
  height: 400px;
  width: 100%;
}

.map-location {
  cursor: pointer;
  color: #004f73;
}

.map-location:hover {
  background-color: #f9f9f9;
}

#informatics {
	background: url(crossword.png) fixed;

}

.faq-answer {
	padding-top: 0px;
}

.faq-quest {
	padding-bottom: 10px;
}

.faq-quest:hover {
  color: 
}

@media (min-width: 768px) {
  p.lead {
    font-size: 16px;
  }
}

.faq-panel > .panel-body {
  padding: 0;
}

.faq-panel .panel-body .panel-group {
  margin: 0;
}

.faq-panel .panel-body .panel-group .panel {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.faq-panel .panel-body .panel-group .panel:last-child {
  border: none;
  border-radius: 0;
}

.faq-panel .panel-body .panel-group .panel .panel-heading {
  background-color: #fff;
  border-radius: 0;
}

.faq-panel .panel-body .panel-group .panel .panel-body {
  background-color: #fff;
  border-radius: 0;
  border-top: none;
  padding-top: 0;
}

h1, h3, a {
	color: #004f73
}

footer {
	background-color: #004f73;
	color: #ffffff;
	height: 200px;
	text-align: center;
}

footer p {
	padding-top: 150px;
}

